<ion-toolbar color="black">
  <ion-title>
    <div class="container">
      <h4 class="fw-600 f-20">Transactions</h4>
      <div class="icons">
        <ion-icon name="add-outline" (click)="createNewTransaction()"></ion-icon>
        <!-- <ion-icon name="search-outline" class="icon-bar"></ion-icon> -->
      </div>
    </div>
  </ion-title>
</ion-toolbar>


<ion-content>

  <div class="transaction-section pt-15">
    <!-- <p class="sub-header">Today's Plan</p> -->
    <ion-list *ngIf="allTransactions && allTransactions.length!=0 ; else NoData">
      <div class="list" *ngFor="let t of allTransactions">
        <ion-item-sliding #slidingItem>
          <ion-item lines="none" class="d-flex flex-col">
            <div class="content">
              <ion-label [ngClass]="t?.status === 'completed'? 'strikeText' : 'activeText'">
                {{t.payeeName}}
              </ion-label>

              <p>{{t?.transaction_amount}}</p>
            </div>

            <div class="content-wrapper">
              <p>
                {{t?.transaction_created_date | date : 'dd/MM/YYYY'}}
              </p>

              <p>{{t?.transaction_amount}}</p>
            </div>
          </ion-item>

          <!-- <ion-item-options side="start">
            <ion-item-option class="w-50" (click)="updateTask(t , slidingItem)">
              <ion-icon slot="icon-only" name="checkmark" color="primary" class="w-25 h-25"></ion-icon>
            </ion-item-option>

            <ion-item-option class="w-50">
              <ion-icon slot="icon-only" name="create" class="w-25 h-25"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end">
            <ion-item-option class="w-50" (click)="deleteTask(t , slidingItem)">
              <ion-icon slot="icon-only" name="trash" color="primary" class="w-25 h-25"></ion-icon>
            </ion-item-option>

            <ion-item-option class="w-50" (click)="closeItem(slidingItem)">
              <ion-icon slot="icon-only" name="close" class="w-25 h-25"></ion-icon>
            </ion-item-option>
          </ion-item-options> -->

        </ion-item-sliding>
      </div>
    </ion-list>

    <!-- if no records  -->
    <ng-template #NoData>
      <div class="no-data-wrapper">
        <img src="../../../../assets/images/3588982.jpg" alt="">

        <h2 class="f-18 fw-600 ls-1">Welcome</h2>
        <p class="f-16">Add your transactions and let's get started</p>
        <div class="btn">
          <ion-button class="btn-primary" (click)="createNewTransaction()">Add Transactions</ion-button>
        </div>
      </div>
    </ng-template>
  </div>

</ion-content>