<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/images/avatar.jpg" alt="">
        <ion-label>
          <h2>Mohib Shaik</h2>
          <p>Angular Developer</p>
        </ion-label>
      </div>

      <ion-list class="menu-items" lines="none">
        <ion-menu-toggle>
          <ion-item [routerLink]="['/dashboard/timesheet']">
            <ion-icon name="hourglass-outline"></ion-icon>
            Time Sheet
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item [routerLink]="['/dashboard/team']">
            <ion-icon name="people-circle-outline"></ion-icon>
            Teams
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item [routerLink]="['/dashboard/leaves']">
            <ion-icon name="calendar-clear-outline"></ion-icon>
            Leaves
          </ion-item>
        </ion-menu-toggle>
        <!-- <ion-item>Work From Home</ion-item> -->

        <ion-menu-toggle>
          <ion-item>
            <ion-icon name="exit-outline"></ion-icon>
            Sign out
          </ion-item>
        </ion-menu-toggle>
      </ion-list>


    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>