<ion-content>
  <ion-toolbar>
    <ion-title class="ion-text-center title">Register</ion-title>
  </ion-toolbar>

  <div class="container">
    <ion-grid class="intro-wrapper">
      <ion-row>
        <ion-col size="12">
          <h2>Hello!</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <p>Let's create your account</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <form [formGroup]="registerForm" novalidate>
      <ion-grid class="register-form">
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size="12">
            <div>
              <!-- username  -->
              <ion-item lines="none">
                <ion-label position="floating" no-padding>User Name</ion-label>
                <ion-input class="input-field" formControlName="username" type='text'> </ion-input>
              </ion-item>
              <div class="error" *ngIf="f.username.touched && f.username.invalid">
                <div *ngIf="f.username.errors?.required">
                  User Name is Required
                </div>
              </div>

              <!-- email  -->
              <ion-item lines="none">
                <ion-label position="floating">Email</ion-label>
                <ion-input class="input-field" formControlName="email" type='email'> </ion-input>
              </ion-item>
              <div class="error" *ngIf="f.email.touched && f.email.invalid">
                <div *ngIf="f.email.errors?.required">
                  Email is Required
                </div>
                <div *ngIf="f.email.errors?.email">
                  Invalid Email
                </div>
              </div>

              <!-- Gender -->
              <ion-item lines="none">
                <ion-label>Gender</ion-label>
                <ion-select formControlName="gender">
                  <ion-select-option value="male">Male</ion-select-option>
                  <ion-select-option value="female">Female</ion-select-option>
                </ion-select>
              </ion-item>

              <div class="error" *ngIf="f.gender.touched && f.gender.invalid">
                <div *ngIf="f.gender.errors?.required">
                  Gender is Required
                </div>
              </div>


              <ion-item lines="none">
                <ion-label position="floating">Mobile Number</ion-label>
                <ion-input type="text" class="input-field" formControlName="mobileNumber"
                  onkeypress="return isNumber(event)" maxlength="10"> </ion-input>
              </ion-item>
              <div class="error" *ngIf="f.mobileNumber.touched && f.mobileNumber.invalid">
                <div *ngIf="f.mobileNumber.errors?.required">
                  Mobile Number is Required
                </div>
              </div>



              <ion-item lines="none">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" class="input-field" formControlName="password"> </ion-input>
              </ion-item>
              <div class="error" *ngIf="f.password.touched && f.password.invalid">
                <div *ngIf="f.password.errors?.required">
                  Password is Required
                </div>
              </div>
            </div>

            <div class="btn">
              <ion-button expand="block" class="register-btn" (click)='signUp()'>
                Create Account
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <!-- <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <small class="media-wrapper">or</small>
        <h4 class="media-wrapper option">Sign up with</h4>
        <div class="google-icon">
          <ion-icon src="assets/images/google-logo-svg.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="footer-text">
      Already have an account?
      <span><a [routerLink]="'/login'" routerLinkActive="router-link-active">Log in</a></span>
    </ion-title>
  </ion-toolbar>
</ion-footer>