<ion-toolbar>
  <ion-title>
    <div class="container">
      <h4 class="fw-600 f-18">Budget</h4>
      <ion-icon name="add-outline" (click)="openModal()"></ion-icon>
    </div>
  </ion-title>


</ion-toolbar>


<ion-content>

  <ion-card class="budget-card">
    <div class="header">
      <div class="budget-name">
        <p>budget-name</p>
      </div>

      <div class="amount">
        <h4>$2444.0 </h4>
        <p class="fw-400">$5000.0</p>
      </div>
    </div>
  </ion-card>

  <ion-card class="budget-card">
    <div class="header">
      <div class="budget-name">
        <p>budget-name</p>
      </div>

      <div class="amount">
        <h4>$2444.0 </h4>
        <p class="fw-400">$5000.0</p>
      </div>
    </div>
  </ion-card>


  <ion-card class="budget-card">
    <div class="header">
      <div class="budget-name">
        <p>budget-name</p>
      </div>

      <div class="amount">
        <h4>$2444.0 </h4>
        <p class="fw-400">$5000.0</p>
      </div>
    </div>
  </ion-card>


</ion-content>