.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ion-icon {
        zoom: 1.5;
        padding-top: 8px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.budget-card {
    min-height: 90px;
    margin: 15px 20px;
    border-radius: 10px;
}
.budget-name {
    padding-left: 12px;
    letter-spacing: 1px;

    p {
        font-size: 16px;
        font-weight: 600;
    }
}
.amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-0 {
    margin: 0px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.progress {
    padding: 20px 15px;
}
.card-footer {
    display: flex;
    justify-content: flex-end;
}

ion-card-content {
    padding: 0px !important;
}

.f-12 {
    font-size: 12px !important;
}

.view-details-btn {
    margin: 10px;
    --background: #ffffff;
    color: #ff3378;
    border: 1px solid #ff3378;
}

.grey-color {
    color: #a9a9a9;
}

.black {
    color: #000000;
}
