<ion-content>
  <div class="container">
    <div class="center">
      <ion-grid class="title-grid">
        <ion-row>
          <ion-col size="12" class="ion-text-center title">
            <div class="logo-main">
              <img src="assets/images/mlist-logo.png" alt="M'List" />
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <div class="button-wrapper">
              <ion-button class="register-btn" (click)="register()">Register</ion-button>
              <ion-button class="login-btn" (click)="login()">Log In</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>