@import "../../../theme/variables.scss";
ion-button {
    font-weight: 600;
   
}

.register-btn {
    margin-right: 20px;
    
    text-transform: none;
}

.login-btn {
    text-transform: none;
}

.google-btn {
    width: 80%;
    margin-top: 30px;
    text-transform: none;
}

.fb-btn {
    width: 80%;
    margin-top: 20px;
    text-transform: none;
}

.text {
    
}

.google-logo {
    padding-right: 10px;
    height: 20px;
    width: 30px;
}

.fb-logo {
    padding-right: 10px;
    height: 15px;
    width: 30px;
}

.container {
    height: 200px;
    position: relative;
   
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;  
}