@import "../../../theme/variables.scss";
ion-button {
    font-weight: 600;
    font-family: "Roboto Condensed", "Roboto", "Helvetica Neue", sans-serif;
}

.register-btn {
    --background: #43d9c5;
    margin-right: 20px;
    color: $white-color;
    text-transform: none;
}

.login-btn {
    --background: #74d14c;
    color: $white-color;
    text-transform: none;
}

.google-btn {
    width: 80%;
    margin-top: 30px;
    text-transform: none;
}

.fb-btn {
    width: 80%;
    margin-top: 20px;
    text-transform: none;
}

.text {
    color: $grey-color;
}

.google-logo {
    padding-right: 10px;
    height: 20px;
    width: 30px;
}

.fb-logo {
    padding-right: 10px;
    height: 15px;
    width: 30px;
}

.container {
    height: 200px;
    position: relative;
   
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;  
}