ion-tab-bar {
    // bottom: 15px;
    // position: relative;
    border-radius: 16px;
    --background: #ffffff;
    // width: 92%;
    // margin: 0 auto;
}
ion-content {
    --background: #fafafa;
}

.btn-content {
    display: block;
    width: 60px;
    // height: 20px;
    font-size: 13px;
}

.m-0 {
    margin: 0px;
}

.f-13{
    font-size: 13px;
}

ion-icon {
    zoom: 1.5;
}

ion-tab-button {
    // --color-selected: white;
    text-align: center;
    &::before {
        background-color: transparent;
        display: block;
        content: "";
        margin: 0 auto;
        width: 20px;
        height: 2px;
    }

    &.tab-selected::before {
        background-color: var(--ion-color-primary);
    }
}
