<ion-header class="ion-no-border">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button menu="first">
            </ion-menu-button>
        </ion-buttons>


        <ion-buttons slot="end">
            <ion-button class="bordered">
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-item lines="none">
        <ion-avatar slot="start">
            <img src="../assets/images/avatar.jpg" alt="">
        </ion-avatar>
        <ion-label>
            <p>Hello,</p>
            <h3>Mohib Shaik</h3>
        </ion-label>
    </ion-item>
</ion-header>

<ion-content>
    <!-- slides starts  -->
    <div class="slides ion-margin-bottom">
        <ion-slides [options]="slidesOptions">
            <ion-slide class="card-slide">
                <ion-card class="card-item">
                    <ion-card-header>
                        <div class="main">
                            <ion-icon name="hourglass-outline"></ion-icon>
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left">
                        <ion-card-title class="ion-margin-bottom">Timesheet</ion-card-title>
                        <ion-progress-bar value="0.5" color="warning"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
            </ion-slide>

            <ion-slide class="card-slide">
                <ion-card class="card-item">
                    <ion-card-header>
                        <div class="main">
                            <ion-icon name="calendar-clear-outline"></ion-icon>
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left">
                        <ion-card-title class="ion-margin-bottom">Leaves</ion-card-title>
                        <ion-progress-bar value="0.4" color="warning"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
            </ion-slide>

            <ion-slide class="card-slide">
                <ion-card class="card-item">
                    <ion-card-header>
                        <div class="main">
                            <ion-icon name="people-circle-outline"></ion-icon>
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left">
                        <ion-card-title class="ion-margin-bottom">Team</ion-card-title>
                        <ion-progress-bar value="0.4" color="warning"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
            </ion-slide>

        </ion-slides>
    </div>


</ion-content>